<div class="navigation">
    <div class="logo"></div>
    {{> components/navigation-components/main}}
    <div class="nav-toggler">
        <span class="toggler"></span>
    </div>
    {{> components/navigation-components/slideout}}
</div> 
