<div class="slideout-container">
    <div class="slideout-nav">
        <div class="logo"></div>
        {{> components/navigation-components/main}}
        {{> components/icon-unit}}
    </div>
</div>
