.comingsoon{
  font-family: $font-family-primary;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url('/images/backgrounds/mountains.jpg') 100% 100% no-repeat;
  background-size: cover;
  & > section:first-child{
    // background-color: rgba(255, 255, 255, 0.8);
    border-bottom: 1px solid $color-accent-primary;
    margin-bottom: 20px;  
  }
  & > section:last-child{
    margin-top: 20px; 
  }
  .icon-unit{
    margin-bottom: 0;
  }
  .content .contact-form{
    display: none;
  }
  .content{
      padding: 10px;
      text-align: center;
  }
  
  h1 {
    font-size: 16px;
    font-weight: 800;
    text-transform: uppercase;
  }
  p {
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 10px;
  }
} 
@media(min-width: $sm){
  .comingsoon{
    align-items: stretch;
    flex-direction: row;
    section{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
        
    }
    & > section:first-child{
      background-color: rgba(255, 255, 255, 0.8);
      margin-bottom: 0px; 
    }
    & > section:last-child{
      margin-top: 0px; 
    }
    .content .contact-form{
      display: block;
      background-color: white;
      text-align: left;
    }
    a[data-toggle="modal"],
    .modal#contact-modal,
    div .modal-backdrop .show .fade{
      display: none !important;
    }
    .content{
      width: 95%;
      max-width: 700px;
    }
  }
}

@media (min-width: $md){
  .comingsoon h1 {
    font-size: 24px;
  }
  .comingsoon p {
    font-size: 14px;
    margin-bottom: 40px;
  }
  .comingsoon .input-container{
    margin-bottom: 45px;
    width: 100%; //overrides fault contact-form styles
  }
  
}