
$color-accent-primary: rgb(201, 144, 101);
$color-accent-secondary: rgb(225, 193, 132);

$bg-color-primary: #e5eaee; 
$bg-color-secondary: #e4e4e4; 

$font-family-primary: 'Raleway', sans-serif;

// Bootstrap Breakpoints
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;