footer
  ul
    li
      a(href="https://www.linkedin.com/in/wilmer-vazquez-492a63116", target="_blank", class="social linkedin") LinkedIn
    li
      a(href="https://github.com/wvazquez", class="social github", target="_blank") Github
    li
      a(href="https://codepen.io/wvazquez/", class="social codepen") CodePen
  p(class="copyright") Copyright Wil Vazquez
