footer
  ul
    li: a.social.linkedin(href="https://www.linkedin.com/in/wilmer-vazquez-492a63116", target="_blank") LinkedIn
    li: a.social.github(href="https://github.com/wvazquez", target="_blank") Github
    li: a.social.codepen(href="https://codepen.io/wvazquez/", target="_blank") CodePen
  p.copyright Copyright Wil Vazquez
