nav
  ul
    li(class="name")
      a(href="index.html") Wil Vazquez
    li
      a(href="index.html", class="selected") Home
    li
      a(href="experience.html") Experience
    li
      a(href="projects.html") Projects
