%text-heading-primary{
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

%text-heading-secondary{
    @extend %text-heading-primary;
    color: $color-accent-secondary;
    margin: 100px 0 30px;
}