<div id="notfound">
    <div class="notfound">
        <h1 class="title">Oops!</h1>
        <h2>404 - Page not found</h2>
        <p>we are sorry, but the page you requested was not found</p>
       
        <a href="/" class="home-btn">&nbsp;Homepage&nbsp;</a>
        <a href="#" class="contact-btn" data-toggle="modal" data-target="#contact-modal">Contact Me</a>
         {{> components/icon-unit}}
    </div>
</div>
{{> components/modal}}

{{!-- This template was made by Colorlib (https://colorlib.com)
Please visit our website for more awesome templates, themes and tools. 
 --}}