<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Wil Vazquez Profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli%7CRoboto:400,300,500,700,900">
    <link rel="stylesheet" href="styles/styles.css">
    <link rel="stylesheet" href="styles/navigations.css">
    <link rel="stylesheet" href="styles/hero.css">
    <link rel="stylesheet" href="styles/cards.css">
    <link rel="stylesheet" href="styles/footer.css">
  </head>
  <body>

    <nav>
      <ul>
        <li class="name"><a href="index.html">Wil Vazquez</a></li>
        <li><a href="index.html" class="selected">Home</a></li>
        <li><a href="experience.html">Experience</a></li>
        <li><a href="projects.html">Projects</a></li>
      </ul>
    </nav>

    <header class="main-hero">
      <img src="images/profile-image.jpg" alt="I am Wilmer Vazquez" class="hero-image">
      <h1 class="tag name">Hello, I’m Wil Vazquez.</h1>
      <p class="tag location">I live in Queens, New York.</p>
    </header>


    <div class="container">
      <div class="card main-card">
        <h2>Background</h2>
        <p>I’m an aspiring web developer who loves everything about the web. I've lived in New York most of my life and have worked in lots of different jobs. It is a fast paced eviornment that has taught me to always keep learning and moving forward. </p>
        <p>My many hobbies include soccer, drawing, playing the guitar, and spending time with my friends and family. I am an adventurous person that loves the outdoors, but also doesnt mind staying at home watching movies.</p>
      </div>

      <div class="card main-card">
        <h2>Goals</h2>
        <p>I want to master the process of building web sites and increase my knowledge, skills and abilities in:</p>
        <ul class="skills">
          <li>HTML</li>
          <li>CSS</li>
          <li>JavaScript</li>
          <li>Ruby</li>
          <li>PHP</li>
        </ul>
        <p>I’d like to work for a company that is innovative and modern that works hard to create great websites for its clients yet can be fun and molds creativity. I work well in team-oriented projects but can also work well in self-directed projects. </p>
      </div>

    </div>
    <footer>
      <ul>
        <li><a href="https://www.linkedin.com/in/wilmer-vazquez-492a63116" target="_blank" class="social linkedin">LinkedIn</a></li>
        <li><a href="https://github.com/wvazquez" class="social github" target="_blank">Github</a></li>
        <li><a href="https://codepen.io/wvazquez/" class="social codepen">CodePen</a></li>
      </ul>
      <p class="copyright">Copyright @ Wil Vazquez</p>
    </footer>
  </body>
  </html>
