<section class="about">
    <div class="container">
        <h2>About Myself</h2>
        <div class="about-profile">
            <div class="about-self"></div>
        </div>
        <div class="about-desc">
            <p><span>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</span> Soluta veniam provident doloremque itaque perspiciatis aspernatur dolorem. Consequatur voluptate iste, tempore provident animi deleniti aspernatur sunt ea illo nam excepturi. Explicabo.</p>
        </div>

        {{> components/skills}}
    </div> {{!-- container --}}
</section>