<section class="contact" id="contact">
    <h2>Contact</h2>
    <div class="icon-unit">
        <a href="https://github.com/wvazquez" target="_blank"><img class="icon" src="images/icons/github.png" alt="Github Icon"></a>
        <a href="https://www.linkedin.com/in/wvazquez1/" target='_blank'><img class="icon" src="images/icons/linkedin.png" alt="LinkedIn Icon"></a>
    </div>

</section>