<header class="header">
    <div class="container header-container">
        <div class="header-nav">
            <div class="logo"></div>
            {{> components/navigation}}
        </div>

        <div class="header-content">
            {{!-- <span class="header-kicker"> Coder // Thinker // Educator</span> --}} 
            <h1 class="header-phrase"><span>Hello. My name is <span class="keywords">Wilmer Vazquez</span></span></h1>
            <h1 class="header-phrase"><span>I design and build beautiful websites and enjoy teaching students <span class="keywords">Full-Stack Web Development</span></span></h1>
        </div>
    </div>

</header>