<section class="work">
    <div class="container">
        <h2>Work</h2>
        <div class="projects">
            <div class="project-unit">
                <div class="project-overlay">
                    <strong class="project-title">Sample project</strong>
                    <span>icon</span>
                </div>
            </div>
            <div class="project-unit">
                <div class="project-overlay">
                    <strong class="project-title">Sample project</strong>
                    <span>icon</span>
                </div>
            </div>
            <div class="project-unit">
                <div class="project-overlay">
                    <strong class="project-title">Sample project</strong>
                    <span>icon</span>
                </div>
            </div>
            <div class="project-unit">
                <div class="project-overlay">
                    <strong class="project-title">Sample project</strong>
                    <span>icon</span>
                </div>
            </div>
            <div class="project-unit">
                <div class="project-overlay">
                    <strong class="project-title">Sample project</strong>
                    <span>icon</span>
                </div>
            </div>
            <div class="project-unit">
                <div class="project-overlay">
                    <strong class="project-title">Sample project</strong>
                    <span>icon</span>
                </div>
            </div>
            <div class="project-unit">
                <div class="project-overlay">
                    <strong class="project-title">Sample project</strong>
                    <span>icon</span>
                </div>
            </div>
            <div class="project-unit">
                <div class="project-overlay">
                    <strong class="project-title">Sample project</strong>
                    <span>icon</span>
                </div>
            </div>
        </div>
    </div>

</section>