<section class="work">
    <div class="container">
        <h2>Work</h2>
        <div class="projects">
            {{#each projects}}
            <div class="project-unit" style="background: url(/images/work/{{folder}}/background.jpg) center center no-repeat">
                <div class="project-overlay">
                    <span class="project-title">{{title}}</span>
                    <div class="icon"></div>
                </div>
            </div>
            {{/each}}
            
        </div>
    </div>

</section>