nav{
  width: 100%;
  padding: 10px;
  background: black;
  position: fixed;
  height: 50px;
  ul{
    display: flex;
    font-weight: 800;
    list-style-type: none;
    padding-left: 15px;
    margin: 0 auto;
    li{
      padding: 5px 10px 10px 10px;
    }
  }
}


nav ul .name{
  margin-right: auto;
}
nav ul .name a{
  color: #fff;
}
