.contact{

    background-color: $bg-color-primary;
    h2{
        @extend %text-heading-secondary;

    }
    .icon-unit{
        display: flex;
        justify-content: center;
    }
    .icon{
        height: 50px;
        width: 50px;
    }
}