header{
    // display: flex;
    // flex-direction: column;
    height: 450px;
    background: url("/images/background-brooklynbridge.jpg") center center no-repeat;
    background-size: cover;
    color: white;
    .header-nav{
        display: flex;
        align-items: center;
        nav{
            margin-left: auto;
        }
    }

    .header-content{
        margin-top: 40px;
        text-align: center;        
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-transform: uppercase;
        .header-phrase{
            font-size: 72px;
            font-weight: 700;
            letter-spacing: 0.05em;
            margin-bottom: 20px;
            span{
                display: inline-block;
                padding: 0.2em 0.5em;
                border: solid white 10px;
            }
        }
        .header-kicker{
            letter-spacing: 0.05em;
            line-height: 1;
            @extend %text-heading-primary;
        }
    }
}

.logo{
    height: 50px;
    width: 50px;
    background: url("../images/Logo.png") center center;
    background-size: cover;
    background-position: center;
    border-radius: 100%;
    box-sizing: border-box;
    &:hover{
        border: 1px solid rgba(255,255,255,0.5);
    }
}


nav{

    a{
        @extend %text-heading-primary;
        text-decoration: none;
        display: inline-block;
        margin-right: 20px;
        color: white;
        &:hover{
            color: rgba(0,0,0,1);
        }
    }        
}
  
