.work{
    background-color: $bg-color-primary;
    overflow-x: hidden;
    h2{
        @extend %text-heading-secondary;
    }
    .projects{
        font-family: $font-family-primary;
        width: 200%;
        display: flex;
        position: relative; //required to allow transition:left on project-container animation.
        .project{
          &-container{
              width: 50%;
              position: relative;
              transition: left 1s;
              left: 0%; //required as starting point for transition
          }    
          &-thumbnails{
              display: flex;
              flex-wrap: wrap;
          }
          &-unit{
            background-size: cover;
            text-align: center;
            height: 250px;
            width: 25%;
            position: relative;
            overflow: hidden;
            &:hover .project-overlay{
                top: 0%;       
            }
          }
          &-overlay{
            background-color: transparentize($color-accent-primary, 0.18);
            cursor: pointer;
            height: 100%;
            width: 100%;
            position: absolute;
            top: 100%;
            transition: top 0.25s;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .title{
                color: white;
                font-weight: 100;
                text-transform: uppercase;
            }
            .icon{
                margin-top: 20px;
                background: url('/images/icons/view-more.svg') center center no-repeat;
                height: 25px;
                width: 25px;
            }
          }
          &-overview{
            h3{
                color: $color-accent-primary;
                font-weight: 300;
                font-size: 24px;
                text-transform: uppercase;
            }
            background: white;
            .project-header{
                display: flex;
                align-items: center;
            }
            .back-arrow{
                margin-right: 25px;
                height: 30px;
                width: 30px;
                cursor: pointer;
            }
        
            .project-content{
                height: 300px;
                width: 300px;
                background: darkgray;
                
            }
          }
        }
    }
}