.skills{
    
    max-width: 750px;
    color: #999;
    margin: 30px auto 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .skill-unit{
        margin:0 auto 10px;
        text-align: left;
        width:350px;
    }
    .skill-title{
        margin-bottom: 5px;
        font-size: 1.2em;
    }
    .skill-rating{
        background-color: $bg-color-primary; 
        div{
            height: 8px;
            background-color: $color-accent-primary;
        }
    }
}

@media (min-width: $sm){
    .skills{
        .skill-title{
            font-size: 1.75em;
        }
        margin: 100px auto;
    }
}