.navigation{
    flex:1;
    display: flex;
    align-items: center;
    .logo{
        height: 50px;
        width: 50px;
        background: url("../images/Logo.png") center center;
        background-size: cover;
        background-position: center;
        border-radius: 100%;
        transition: all 0.3s ease-in-out;
        &:hover{
            transform: scale(1.2);
            cursor: pointer;
        }
    }
    nav{
        margin-left: auto;
        a{
            @extend %text-heading-primary;
            text-decoration: none;
            display: inline-block;
            margin-right: 20px;
            color: white;
            &:hover{
                color: $color-accent-secondary;
            }
        }        
    }
}