nav{
    a{
        @extend %text-heading-primary;
        text-decoration: none !important;
        color: white;
        &:hover{
            color: $color-accent-secondary;
        }
    }
}


.navigation{
    flex:1;
    display: flex;
    align-items: center;
    .logo{
        height: 50px;
        width: 50px;
        background: url("../images/Logo.png") center center;
        background-size: cover;
        background-position: center;
        border-radius: 100%;
        transition: all 0.3s ease-in-out;
        &:hover{
            transform: scale(1.2);
            cursor: pointer;
        }
    }
}
.inline-nav{
    display: none;
}

@media(min-width: $sm){

    .slideout-nav,
    div.nav-toggler{
        display: none;
    }
    .header-container nav.inline-nav{
        display: inline-block;
        margin-left: auto;
        a{
            display: inline-block;
            margin-right: 20px;

        }        
    }
}

.nav-toggler{
    // z-index: 999;
    height: 28px;
    width: 28px;
    outline: none;
    cursor: pointer;
    // background: red;
    margin-left: auto;
    display: flex;
    align-items: center;
    .toggler{
        &,
        &::before,
        &::after {
            position: absolute;
            content: '';
            width: 28px;
            height: 2.5px;
            background: #fafafa;
            border-radius: 20px;
            transition: 500ms cubic-bezier(0.77, 0, 0.175, 1);
        }
        
        &::before {
            top: -8px;
        }
        
        &::after {
            top: 8px;
        }   
    }
    &.active > span  {
        background: transparent;
    }

    &.active > span::before,
    &.active > span::after {
        background: #005c9c;
        top: 0px;
    }

    &.active > span::before  {
        transform: rotate(-225deg);
    }

    &.active > span::after  {
        transform: rotate(225deg);
    }
}
.slideout-nav {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    // align-items: center;
    // text-align: center;

    height: 100vh;
    width: 30%;
    // padding: 100px;

    position: absolute;
    top:0;
    left: -30%;
    color: #005c9c;
    background: rgba(#fafafa,1);
    // clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
            
    transition: 300ms left cubic-bezier(0.77, 0, 0.175, 1);
    
    @media only screen and (max-width: 600px) {
      width: 250px;
      left: -250px;
    //   padding: 50px;
    }
    &.active {
      left: 0;
    }
    p {
      font-size: 1.4rem;
      margin-bottom: 1rem;
    }
    .logo{
        margin: 20px auto;
    }
    nav{
        flex: 2;
        display: flex;
        flex-direction: column;
    }
    nav a{
        border-bottom: 0.5px solid white;
        border-top: 1px solid white;
        height: 100%;
        color: $color-accent-primary;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover{
            background-color: $color-accent-primary;
            color: white;
        }
    }
  }

  .footer-nav{
    margin-left: 1.5em;
    display: flex;
    flex-direction: column;
    .copyright{
        font-size: 0.9em;
        color: rgba(255,255,255,0.7);
        line-height: 2em;
    }
    nav{
        a{
            color:rgba(255,255,255,0.7);
            &:hover{
                color: rgba(0,0,0,0.5);
            }
        }
        
    }
}