.modal{
    .modal-header{
        border-bottom: none; // Overrides bootstrap default styles
        justify-content: center;
        color: $color-accent-primary;
        margin: 10px 0 50px 0;
        .modal-title {
            border-bottom : $color-accent-primary 1px solid;
            padding-bottom: 1%;
        }
        .close{ 
            position: absolute; //takes button out of flow to center title
            left: 92%;
        }
    }
    .modal-body{
        padding: 0; // Overrides bootstrap default styles
    }
    .contact-form{
        width: 100%; //overrides our default width
        box-shadow: none;
    }
}