.contact-form {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%; 
  padding: 20px 10px;
  margin: 0 auto;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0px 0px 25px 4px rgba(153, 153, 153, 0.4);
 
  .input-container{
    width: 100%; 
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 2px solid rgb(217, 217, 217);
  }
  .message{
    width: 100%;
    margin-bottom: 25px;
  }
  .input-recaptcha{
    width: 100%;
    border-bottom: none;
  }
  .validate-input {
    position: relative;
  }
 
  .input-label {
    font-size: 12px;
    color: rgb(153, 153, 153);
    line-height: 1.5;
    padding-left: 5px;
  }
  .input {
    font-size: 14px;
    color: #555555;
    display: block;
    width: 100%; 
    line-height: 1.2;
    padding: 0 5px;
    margin-top: 5px;
    border: none;
    background: transparent;
    &::placeholder{
        color: transparent;
    }

    &:focus{
      border-color: transparent !important;
      outline-style: none; 
    }
    &:focus::placeholder{ 
      color:transparent; 
    }
  }
  .input:focus + .input-focus::before {
    width: 100%;
  }
      
  .input-focus {
    width: 100%;
    height: 100%;
    display: block;

    position: absolute;
    top: 0;
    left: 0;

    pointer-events: none;

    &::before {
      content: "";
      display: block;
      width: 0;
      height: 2px;
      
      position: absolute;
      bottom: -2px;
      left: 0;
      
      background: $color-accent-primary;
      transition: all 0.4s;      
    }
  }

  .alert-validate{
    &::before {
      content: attr(data-validate);
      font-size: 13px;
      color: #c80000;
      text-align: left;
      line-height: 1.4;

      max-width: 70%;
      padding: 4px 25px 4px 10px;
      visibility: hidden;
      opacity: 0;

      position: absolute;
      top: 58%;
      right: 2px;

      background-color: #fff;
      border: 1px solid #c80000;
      border-radius: 2px;
      
      transform: translateY(-50%);
      transition: opacity 0.4s;
      pointer-events: none;
    }
    &::after {
      content: "\f06a";
      font-family: FontAwesome;
      font-size: 16px;
      color: #c80000;

      display: block;
      position: absolute;      
      top: 58%;
      right: 8px;

      transform: translateY(-50%);
    }
    &:hover:before {
      visibility: visible;
      opacity: 1;
    }  
  }
  .loader-container{
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(85, 85, 85, 0.2);
    img{
      height: 50px;
      width: 50px;
    }
  }
 
}
.success-container{
  color: $color-accent-primary;
  z-index: 100;
  text-align: center;
  position: fixed;
  top: 0;
  left:0;
  bottom: 0;
  right: 0;
  display: none;
  background-color: rgba(245, 242, 236, 0.90);
  justify-content: center;
  align-items: center;
}

.checkmark {
  display:block;
  margin: 10px auto;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  box-shadow: inset 0px 0px 0px #7ac142;
  animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #7ac142;
  fill: none;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes scale {
  0%, 100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}
@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #7ac142;
  }
}

.show-flex{
  display:flex !important;
}

@media (min-width: $sm) {
  .contact-form {
    padding: 100px 50px;
  }
  .contact-form .input-label{
    font-size: 14px;
  }
  .contact-form .input{
    font-size: 16px;
  }
}
@media (min-width: $md) {
  .contact-form{
    width: 75%;
    .input-container{
      margin-bottom: 65px;
    }
    .input{
      font-size: 18px;
    }
    .input-recaptcha{
      margin-bottom: 15px;
    }
  }
}

@media (min-width: $lg) {  
  .contact-form .input-container{
    width: 45%;
    &.message,
    &.input-recaptcha {
      width: 100%;
    }
  }
  .contact-form .input::placeholder{ 
      color: rgba(85, 85, 85,0.5);
  }
}