.header{
    height: 80vh;
    background-color: black;
    color: white;
    $h: &;
    &-container {
        display: flex;
        flex-direction: column;
        #{$h}-nav{
            flex:1;
            display: flex;
            align-items: center;
            .logo{
                height: 50px;
                width: 50px;
                background: url("../images/Logo.png") center center;
                background-size: cover;
                background-position: center;
                border-radius: 100%;
                box-sizing: border-box;
                &:hover{
                    border: 1px solid rgba(255,255,255,0.5);
                    cursor: pointer;
                }
            }
            nav{
                margin-left: auto;
                a{
                    @extend %text-heading-primary;
                    text-decoration: none;
                    display: inline-block;
                    margin-right: 20px;
                    color: white;
                    &:hover{
                        color: $color-accent-secondary;
                    }
                }        
            }
        }
        #{$h}-content{
            align-self: center;
            flex:10;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            max-width: 55%;
            #{$h}-phrase{
                // font-family: 'Caveat', cursive; 
                font-family: 'Cabin Sketch', cursive; 
                font-weight: 400;
                font-size: 40px;
                font-weight: 700;
                letter-spacing: 0.05em;
                margin-bottom: 20px;
                .keywords{                    
                    color: $color-accent-secondary;
                    font-weight: 700;
                }
                
            }
            // .header-kicker{
                // flex: 1;
                // transform: rotate(-90deg);
                // transform-origin: 100% 190%;
                // display: inline-block;
                // writing-mode: vertical-rl;
                // text-orientation: mixed;
                // letter-spacing: 0.05em;
                // line-height: 1;
                // font-size: 14px;
                // font-weight: 700;
                // text-transform: uppercase;
                // color: $color-accent-secondary;
            // }
        }
    }
}