.header{
    z-index: 2000 !important;
    overflow: hidden;
    height: 80vh;
    background-color: transparent;
    color: white;
    $h: &;
    &-container {
        z-index: 100;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        
        #{$h}-content{
            padding-left: 10%;
            flex-grow: 10;
            // height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            max-width: 55%;
            #{$h}-phrase{
                // font-family: 'Caveat', cursive; 
                font-family: 'Cabin Sketch', cursive; 
                font-weight: 400;
                font-size: 40px;
                font-weight: 700;
                letter-spacing: 0.05em;
                margin-bottom: 5px;
                .keywords{                    
                    color: $color-accent-secondary;
                    font-weight: 700;
                }
            }
            #{$h}-subphrase{
                font-family: 'Caveat', cursive; 
                // font-family: 'Cabin Sketch', cursive; 
                font-size: 20px;
                margin-top: 5px;
                .keywords{                    
                    color: $color-accent-secondary;
                    font-weight: 700;
                }       
            }
        }
    }
}