.work{
    background-color: $bg-color-primary;
    overflow-x: hidden;
    padding-bottom: 100px;
    h2{
        @extend %text-heading-secondary;
    }
    .project{
        font-family: $font-family-primary;
        width: 200%;
        display: flex;
        position: relative; //required to allow transition:left on project-container animation.
        align-items: flex-start;
          &-container{
              width: 50%;
              position: relative;
              transition: left 1s;
              left: 0%; //required as starting point for transition
          }    
          &-thumbnails{
              display: flex;
              flex-wrap: wrap;
          }
          &-unit{
            background-size: cover;
            text-align: center;
            height: 250px;
            width: 100%;
            position: relative;
            overflow: hidden;
            // &:hover .project-overlay{
            //     top: 0% !important;       
            // }
          }
          &-overlay{
            background-color: transparentize($color-accent-primary, 0.18);
            cursor: pointer;
            height: 100%;
            width: 100%;
            position: absolute;
            top: 100%;
            transition: top 0.25s;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .title{
                color: white;
                font-weight: 100;
                text-transform: uppercase;
            }
            .icon{
                margin-top: 20px;
                background: url('/images/icons/view-more.svg') center center no-repeat;
                height: 25px;
                width: 25px;
            }
          }
          &-overview{
              margin: 0 auto;
              display: flex;
              flex-direction: column;
              align-items: center;
            
            h3{
                color: $color-accent-primary;
                font-weight: 300;
                font-size: 30px;
                text-transform: uppercase;
            }
            background: white;
            max-width: 75%;
            .project-header{
                display: flex;
                align-items: center;
                align-self: flex-start;
                margin-left: 5%;
                flex-wrap: wrap;
            }
            .back-arrow{
                margin-right: 25px;
                height: 40px;
                width: 40px;
                cursor: pointer;
                filter: opacity(75%);
                // background: url('/images/icons/back-arrow.svg');
                &:hover{
                    filter: opacity(100%);
                }
                
            }
            #overview-link{
                flex-basis: 100%;
                margin-left: 10%;
            }
        
            .project-content{
                max-width: 100%;
                background: darkgray;
                
            }
        }
    }
}

@media(min-width: $sm){
    .work{
        .project-unit{
            width: 50%;
            &:hover .project-overlay{
                top: 0% !important;       
            }
        }

    }
}
@media(min-width: $md){
    .work{
        .project-unit{
            width: 33%;
        }
    }
}
@media(min-width: $lg){
    .work{
        .project-unit{
            width: 25%;
        }
    }
}