.work {
  background-color: $bg-color-primary;
  overflow-x: hidden;
  padding-bottom: 25px;
  h2 {
    @extend %text-heading-secondary;
  }
  .slide {
    font-family: $font-family-primary;
    width: 200%;
    display: flex;
    position: relative; //required to allow transition:left on project-container animation.
  }
  .slide-section {
    width: 50%;
    position: relative;
    transition: left 1s;
    left: 0%; //required as starting point for transition

  }
  .projects-container {
    display: grid;
    grid-auto-rows: minmax(200px, 200px);
    grid-gap: 1em;
    grid-template-columns: repeat(1, 1fr);
  }
  .project {
    background-size: cover;
    text-align: center;
    position: relative;
    overflow: hidden;
  }
  .overlay {
    background-color: transparentize($color-accent-primary, 0.7);
    cursor: pointer;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: top 0.25s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h3 {
      font-size: 1em;
      color: white;
      border: 3px solid white;
      padding: 0.75em;
      
      text-transform: capitalize;
    }
    .icon {
      margin-top: 0.5em;
      background: url("/images/icons/view-more.svg") center center no-repeat;
      height: 25px;
      width: 25px;
    }
  }
  .project-overview {
    margin: 0 auto;
  }
  .project-header {
    position: relative;
    padding: 3em;
    text-align: center;
    .back-arrow {
      position: absolute; 
      left: 0px;
      height: 2.5em;
      width: 2.5em;
      cursor: pointer;
      filter: opacity(75%);
      &:hover {
        filter: opacity(100%);
      }
    }
    #overview-title {
      color: $color-accent-primary;
      font-weight: 300;
      font-size: 30px;
      text-transform: uppercase;
    }
    #overview-link {
      color: gray;
      line-height: 2em;
    }
  }
  .project-content {
    .content, .content-image{
      text-align: center;
      margin-bottom: 3em;
    }
    img{
      width: 100%;
    }
  }
}

@media (min-width: $sm) {
  .work {
    padding-bottom: 100px;
    .project-header {
      .back-arrow {
        height: 3em;
        width: 3em;
      }
    }
    .projects-container {
      grid-template-columns: repeat(2, 1fr);
    }
    .project {
      &:hover .overlay {
        top: 0%;
      }
    }
    .overlay {
      background-color: transparentize($color-accent-primary, 0.18);
      top: 100%;
      h3{
        font-weight: 100;
      }
    }
    .project-content {
      .content{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
      }
      .content:nth-child(even){
        flex-direction: row-reverse;
      }
      .content-image{
        width: 40%;
        border: 1px solid $color-accent-primary;
        position: relative;
        img{
          position: relative;
          left: 1em;
          top: -1em;
        }  
      }
    }
  }
}
@media (min-width: $sm) and (max-width: $md) {
  .work {
    .project-0,
    .project-1,
    .project-4,
    .project-5,
    .project-8,
    .project-9 {
      grid-column: 1/3;
    }
    .project-0 {
      grid-row: 1/3;
    }
    .project-5 {
      grid-row: 6/8;
    }
    .project-9 {
      grid-row: 10/12;
    }
  }
}
@media (min-width: $md) {
  .work {
    .project-header {
      .back-arrow {
        height: 4em;
        width: 4em;
      }
    }
    .projects-container {
      grid-template-columns: repeat(4, 1fr);
    }
    .project-0 {
      grid-column: 1/3;
      grid-row: 1/3;
    }
    .project-1 {
      grid-column: 3/5;
    }
    .project-4 {
      grid-column: 3/5;
      grid-row: 2/4;
    }
    .project-5 {
      grid-column: 1/3;
      grid-row: 4/6;
    }
    .project-8 {
      grid-column: 3/5;
      grid-row: 5/7;
    }
    .project-9 {
      grid-column: 1/3;
    }

    
  }
  
}
@media (min-width: $lg) {
  .work {
    .overlay h3 {
      font-size: 1.5em;
    }
  }
}
