.contact{
    margin-bottom: 100px;
    font-family: $font-family-primary;
    // background-color: $bg-color-primary;
    input, 
    textarea {
        outline: none;
        border: none;
    }
    h2{
        @extend %text-heading-secondary;
    }
        
}