footer{
    display: flex; //required to make child component take full height of parent
    background: url("../images/backgrounds/mountains.jpg") center 85% no-repeat;
    background-size: cover;
    height: 150px;
    color: white;
    box-sizing: border-box;    
    .footer{
        display: flex;
        align-items: center;
    }
}