#notfound {
  font-family: $font-family-primary;

  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  
  background: linear-gradient(to bottom, rgba(97,144,232,0.9) 0%, rgba(255,255,255,0.7) 70%), url('/images/backgrounds/mountains.jpg') 100% 100% no-repeat;
  background-size: cover;

  .notfound {
    width: 100%;
    max-width: 800px;
    padding: 10px;
    text-align: center;
  }
  .title{
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 900;
    color: lighten(black, 30%);
    background: url('/images/backgrounds/error.jpg') no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: cover;
    background-position: center;
  }
  h2 {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 0;
  }
  p {
    color: #000;
    font-size: 12px;
    font-weight: 400;

    margin-bottom: 20px;
    margin-top: 0px;
  }

} 
@media (min-width: $sm){

  #notfound .title{
    font-size: 80px;
  }
  #notfound h2 {
    font-size: 24px;
  }
  #notfound p {
    font-size: 14px;
  }
}