#notfound {
    font-family: $font-family-primary;
    position: relative;
    height: 100vh;
    background: linear-gradient(to bottom, rgba(97,144,232,0.9) 0%, rgba(255,255,255,0.7) 70%), url('/images/backgrounds/mountains.jpg') 100% 100% no-repeat;
    background-size: cover;
  }
  
  #notfound .notfound {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  
  .notfound {
    max-width: 410px;
    width: 100%;
    text-align: center;
  }

.notfound .notfound-404 {
    height: 280px;
    position: relative;
    z-index: -1;
  }
  

.notfound .notfound-404 h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 230px;
    margin: 0px;
    font-weight: 900;
    position: absolute;
    color: lighten(black, 30%);
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    background: url('/images/backgrounds/error.jpg') no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: cover;
    background-position: center;
  }

  
.notfound h2 {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 0;
  }
  
  .notfound p {
    color: #000;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 20px;
    margin-top: 0px;
  }
  
  .notfound .home-btn, 
  .notfound .contact-btn {
    display: inline-block;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    padding: 13px 25px;
    font-size: 18px;
    border-radius: 40px;
    margin: 7px;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
    color: $color-accent-primary;
    background: white;
    border: 1px solid $color-accent-primary;
  }
  
  .notfound .home-btn:hover, 
  .notfound .contact-btn:hover {
    color: white;
    background: $color-accent-primary;
    border: 1px solid $color-accent-primary;
  }

  @media only screen and (max-width: 767px) {
    .notfound .notfound-404 {
      height: 142px;
    }
    .notfound .notfound-404 h1 {
      font-size: 112px;
    }
}
  
  @media only screen and (max-width: 480px) {
    // .notfound .notfound-404 {
    //   height: 146px;
    // }
    // .notfound .notfound-404 h1 {
    //   font-size: 146px;
    // }
    // .notfound h2 {
    //   font-size: 16px;
    // }
    .notfound .home-btn, .notfound .contact-btn {
      font-size: 14px;
    }
  }