#notfound {
  font-family: $font-family-primary;

  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  
  background: linear-gradient(to bottom, rgba(97,144,232,0.9) 0%, rgba(255,255,255,0.7) 70%), url('/images/backgrounds/mountains.jpg') 100% 100% no-repeat;
  background-size: cover;

  .notfound {
    width: 100%;
    max-width: 800px;
    padding: 10px;
    text-align: center;
  }
  .title{
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 900;
    color: lighten(black, 30%);
    background: url('/images/backgrounds/error.jpg') no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: cover;
    background-position: center;
  }
  h2 {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 0;
  }
  p {
    color: #000;
    font-size: 12px;
    font-weight: 400;

    margin-bottom: 20px;
    margin-top: 0px;
  }
  .home-btn, 
  .contact-btn {
    display: inline-block;
    padding: 8px 20px;
    margin: 7px;

    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    color: $color-accent-primary;
    
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
    
    background: white;
    border: 1px solid $color-accent-primary;
    border-radius: 40px;
    &:hover{
      color: white;
      background: $color-accent-primary;
      border: 1px solid $color-accent-primary;
    }
    &:focus{
      outline-style: none !important;
    }
  }
} 
@media (min-width: $sm){
  #notfound .home-btn, 
  #notfound .contact-btn {
    padding: 13px 25px;
    font-size: 18px;
  }
  #notfound .title{
    font-size: 80px;
  }
  #notfound h2 {
    font-size: 24px;
  }
  #notfound p {
    font-size: 14px;
  }
}