<section class="about">
    <h3>About Myself</h3>
    <div class="about-icons">
        <div class="icon-self"></div>
        <div class="icon-pencil"></div>
        <div class="icon-mouse"></div>
        <div class="icon-browser">{{> icons/icon-browser}}</div>
        <div class="icon-video"></div>
    </div>

    <p><strong>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</strong> Soluta veniam provident doloremque itaque perspiciatis aspernatur dolorem. Consequatur voluptate iste, tempore provident animi deleniti aspernatur sunt ea illo nam excepturi. Explicabo.</p>

    <div class="about-skills">

    </div>
</section>