<header class="base-container">
    <div class="header-nav">
        <div class="logo"></div>
        {{> navigation}}
    </div>
    

    <div class="header-content">
        <h1 class="header-phrase"><span>Artists Theme</span></h1>
        <p class="header-kicker"> Thinker // Designer // Youtuber</p>
    </div>
    
</header>