<section class="about" id="about">
    <div class="container">
        <h2>About Myself</h2>
        <div class="about-profile">
            <div class="about-self"></div>
        </div>
        <div class="about-desc">
            <p><span>Wilmer is a creative Full-Stack Web Developer</span><br>passionate about writing dynamic and innovative UI/UX web applications. He is a self-motivated developer with 2+ years of experience building full-stack web applications. He characterizes himself as a versatile, detail-oriented developer who is always curious and eager to continue learning.</p>
        </div>

        {{> components/skills}}
    </div> {{!-- container --}}
</section>