<footer>
    <div class="container footer navigation">
        <div class="logo"></div>
            
        <div class="footer-nav">
            {{> components/navigation}}
            <span class="copyright">All Content Copyright 2019</span> 
        </div>
    </div>
</footer>