<header class="header">
    <div class="container header-container">

        {{> components/navigation-components/header}}
        
        <div class="header-content">
            <h1 class="header-phrase"><span><span class="keywords">I'm Wilmer Vazquez</span></span></h1>
            <h4 class="header-subphrase">Full-Stack Web Developer</h4>
        </div>
    </div>

</header>
