<section class="work" id="work">
    <h2>Work</h2>
    <div class="slide">
        <div class="slide-section">
            <div class="projects-container container">
                {{#each projects as |project i|}}
                <div class="project project-{{i}}"
                    style="background: url(/images/work/{{folder}}/background.jpg) center center">
                    <div class="overlay" id="{{folder}}">
                        <h3>{{title}}</h3>
                        <div class="icon"></div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>

        <div class="slide-section">
            <div class="container">
                <div class="project-overview">
                    
                    <div class="project-header">
                        <img class="back-arrow" src="/images/icons/back-arrow.svg" />
                        <h3 id="overview-title"></h3>
                        <span>~<a id="overview-link" target='_blank' href="">Visit Website</a>~</span>
                    </div>

                    <div class="project-content">
                        {{!-- 

                        <img>
                        <p></p> 

                        --}}
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>