header{
    height: 450px;
    background: #ccc;
    .logo{
        height: 50px;
        width: 50px;
        background: #999;
    }
    .nav{
        a{
            display: inline-block;
            margin-left: 20px;
            color: rgba(0,0,0,0.7);
            font-weight: 700;
            font-size: 14px;
            text-transform: uppercase;
        }
    }
}