.card{
  margin: 30px;
  max-width: 500px;
  text-align: left;
  background: #fff;
  border-bottom: 4px solid #ccc;
  border-radius: 6px;
  transition: all .5s;
  display: inline-block;

}
.homecard{
  padding: 20px 40px 40px;
}
.card:hover {
  border-color: firebrick;
}

ul.skills {
  padding: 0;
  text-align: center;
}

.skills li {
  border-radius: 6px;
  display: inline-block;
  background: rgb(118, 149, 164);
  color: white;
  padding: 10px 15px;
  margin: 2px;
}

.skills li:nth-child(odd) {
  background: #0399ff;
}
