.webbot{
  background: url("../images/webbot.png") center no-repeat;
  background-size: cover;

}
.overlay{
  padding: 20px 40px 40px;
  width: auto;
  opacity: 0;
  color: white;
  transition-duration: 0.6s;
  border-radius: 6px;
}
.webbot:hover .overlay{
  opacity: 1;
  background-color: rgba(0, 0 ,0, 0.7);

}
.webbot:hover .webbot{
  opacity: 0.5;
}
.transition{
  background: url("../images/transition.png") center no-repeat;
  background-size: cover;
}
.transition:hover .overlay{
  opacity: 1;
  background-color: rgba(0, 0 ,0, 0.7);

}
.transition:hover .transition{
  opacity: 0.5;
}
