<form class="contact-form validate-form">
    <div class="input-container validate-input" data-validate="Name is required">
        <span class="input-label">Your Name</span>
        <input class="input" id="input-name" type="text" name="name" placeholder="Enter your name">
        <span class="input-focus"></span>
    </div>

    <div class="input-container validate-input" data-validate = "Valid email is required">
        <span class="input-label">Email</span>
        <input class="input" id="input-email" type="text" name="email" placeholder="Enter your email addess">
        <span class="input-focus"></span>
    </div>

    <div class="input-container message validate-input" data-validate = "Message is required">
        <span class="input-label">Message</span>
        <textarea class="input" id="input-message" name="message" placeholder="Your message here..."></textarea>
        <span class="input-focus"></span>
    </div>
    <div class="input-container input-recaptcha">
        <div class="g-recaptcha" data-sitekey="6Lc_PLUUAAAAADho9ZiZOROPm8AbJqcrbEiYqhqo"></div>
    </div>
    <button class="button-submit">
        <span>
            Submit
            <i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
        </span>
    </button>
    <div class="loader-container">
        <img class="loader" src="/images/icons/loader.svg" alt="loader image"> 
    </div>
    <div class="success-container">
        <div class="success">
            <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52"><circle class="checkmark-circle" cx="26" cy="26" r="25" fill="none"/><path class="checkmark-check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/></svg>
            <p>Thank you for contacting me!</p>
            <p>I will get back to you as soon as possible.</p>
        </div>
    </div>
</form>