<div class="icon-unit">
    <a href="https://github.com/wvazquez" target="_blank"><img class="icon" src="images/icons/github.svg" alt="Github Icon"></a>
    <a href="https://www.linkedin.com/in/wvazquez1/" target='_blank'><img class="icon" src="images/icons/linkedin.svg" alt="LinkedIn Icon"></a>
</div>