<div class="skills">
    {{#each skills}}
        <div class="skill-unit">
            <h3 class="skill-title">{{title}}</h3>
            <div class="skill-rating">
                <div style="width: {{multiply rating 10}}%;"></div>
            </div>
        </div>
    {{/each}}

</div>