 <div class="homepage-hero-module">
    <div class="video-container">
      <div class="filter"></div>
      <video autoplay="true" loop muted playsinline src="videos/coding.mp4" class="fillWidth"></video>
      <div class="poster hidden">
        <img src="images/coding.jpg" alt="Coding Image">
      </div>
    </div>
  </div>